﻿.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
	margin-top: 15px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    /* display: table-cell; */
    text-align: center;
    position: relative;
}
.btn
{
        border-radius: 0px;
}
.btn-circle {
     width: 56px;
    height: 56px;
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 35px;
    /* margin-top: -14px; */
    margin-right: -20px;
    border: solid 3px #ccc !important;
    opacity: 1 !important;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff !important;
    -moz-box-shadow: inset 0px 0px 0px 3px #fff !important;
    -o-box-shadow: inset 0px 0px 0px 3px #fff !important;
    -ms-box-shadow: inset 0px 0px 0px 3px #fff !important;
    box-shadow: inset 0px 0px 0px 3px #fff !important;
    backgournd-color: #428bca;
}