﻿.ph-button {
	border-style: solid;
	border-width: 0px 0px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	color: #FFFFFF;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	/* overflow: hidden; */
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 200ms ease-in-out 0s;
	white-space: nowrap;
	font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
	font-weight: 300;
	padding: 13px 23px 9px;
	font-size: 15px;
}

.ph-btn-green {
	border-color: #3AC162;
	background-color: #5FCF80;
}

	.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
		background-color: #55bb73;
		color: white;
		border-color: #3AC162;
		text-decoration: none;
	}