﻿ins {
    color: #e92929;
    border: 0 none;
    font: normal normal 14px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.add-advert-container {
    padding-top: 25px;
    padding-bottom: 15px;
}

.add-advert-warning-message {
    font-family: SEGOE UI,monospace;
    font-weight: 400;
    color: black;
    border-bottom: 1px #D6D6D6 solid;
}

.add-advert-label-field {
    font-weight: 400;
    text-align: center;
    color: black;
}

.add-advert-validation-field {
    color: red;
    font-size: 12px;
}

.add-advert-label-small {
    font-size: 11px;
    color: black;
    font-style: italic;
}

.add-advert-description-area {
    overflow: auto;
    resize: none;
}

.add-advert-panel-heading {
    background: rgba(41, 117, 181, 0.8);
    color: #FAFAFA;
    font-weight: 300;
    font-family: SEGOE UI, monospace;
    font-size: 15px;
    margin-bottom: 0;
    text-transform: none;
}

.add-advert-box-shadow {
    box-shadow: 2px 3px 10px #D6D6D6;
}

.add-advert-panel-body {
    background-color: #FFF9DE;
}

.personal-data-link {
    font-size: 12px;
    font-weight: 600;
}

.personal-data-checkbox {
    font-size: 12px;
    color: black;
    font-weight: 400;
}
