﻿
h1 {
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

    a:hover {
        color: #1dabb8;
    }

fieldset {
    border: none;
    margin: 0;
}

input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
}

    input[type="submit"] {
        cursor: pointer;
    }

.clearfix {
    *zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

/* ---------- LOGIN-FORM ---------- */

#login-form {
    margin: 50px auto;
    width: 276px;
}

    #login-form h1 {
        background-color: #282830;
        border-radius: 8px 8px 0 0;
        color: #fff;
        font-size: 14px;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    #login-form fieldset {
        border-radius: 0 0 5px 5px;
        padding: 5px;
        position: relative;
        margin: 0px;
    }

        #login-form fieldset:before {
            background-color: #fff;
            content: "";
            height: 8px;
            left: 50%;
            margin: -4px 0 0 -4px;
            position: absolute;
            top: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 8px;
        }

    #login-form input {
        font-size: 14px;
    }

        #login-form input[type="submit"] {
            border-radius: 3px;
            color: #fff;
            float: right;
            margin-top: 10px;
            padding: 5px 12px;
        }

            #login-form input[type="submit"]:hover {
            }

    #login-form footer {
        font-size: 12px;
        margin-top: 16px;
    }

.info {
    background: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}

.login-validation {
    font-size: 12px;
    color: #ff6666;
    font-weight: bold;
}

.login-if-not {
    font-size: 12px;
    font-weight: bold;
}

.login-remember-password {
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 90px;
    font-weight: bold;
}

.login-skype {
    font-size: 16px;
}

.login-vk {
    font-size: 13px;
}

.login-facebook {
    padding-right: 18px;
}
