﻿.more-info {
    color: #00b300 !important;
}

.edit-adv {
    color: #cccc00 !important;
}

.remove-adv {
    color: #cc2900 !important;
}

.update-adv {
    color: #0099e6 !important;
}

.advert-link {
    text-decoration: none;
}

    .advert-link:hover {
        text-decoration: underline;
    }

.advert-price {
    color: #cc2900 !important;
}

.advert-publish {
    color: #0059b3;
}

.status-publish {
    color: #00b300 !important;
}

.status-publish :hover {
    text-decoration: underline;
}
