﻿@model Autoroad.Models.LocalPasswordModel

<style>
    .separator {
        border-right: 1px solid #dfdfe0;
    }

    .icon-btn-save {
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-group {
    }

    .btn-save-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        border-radius: 3px 0 0 3px;
    }
</style>
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", @action = "" }))
                {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
<div class="container bootstrap snippet">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Изменить пароль
                    </h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                            <br>
                            <img alt="" class="img-thumbnail" src="~/Images/changepasswordpic.jpg">
                        </div>
                        <div style="margin-top:60px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder="Пароль" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder="Новый пароль"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтвердите пароль" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn icon-btn-save btn-success" type="submit">
                                <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
@*<div class="col-md-12 text-right">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>*@