﻿@model Autoroad.Models.LoginModel
@{
    ViewBag.Title = "Войти | Autoroad";
}
<link href="~/Content/login.css" rel="stylesheet" />
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Авторизация</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="login-form">
                <h1>Авторизация</h1>
                <fieldset>
                    <legend></legend>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "login-validation" })

                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email" })
                        </div>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "login-validation" })

                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Пароль", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "login-validation" })
                        <br />
                        @Html.CheckBoxFor(m => m.RememberMe) <span>Запомнить меня?</span>
                        <input type="submit" value="Войти" class="btn btn-sm btn-primary" />
                    }
                </fieldset>
                <div class="login-if-not">
                    @Html.ActionLink("Зарегистрируйтесь, если у Вас ещё нет аккаунта?", "Register", "Account")
                </div>
                <div class="login-remember-password">
                    @Html.ActionLink("Забыли пароль?", "Register", "Account")
                </div>
            </div>
        </div>
    </div>
</div>
