﻿@model Autoroad.Models.LocalPasswordModel
@{
    ViewBag.Title = "Настройки | Autoroad";
}
<style>
        .infoForPassword {
            margin-top:10px;
        }
    </style>
<div class="jumbotron">
    <p class="message-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col-md-6 infoForPassword">
            <table class="table table-bordered" style="background-color: white; font-family: Georgia;">
                <tr>
                    <td>Советы по изменению пароля</td>
                    <td>Примеры</td>
                </tr>
                <tr>
                    <td><h6>Создайте надежный и пароль, который будет легко запоминаться. Попробуйте использовать в качестве пароля фразу или же название песни.</h6></td>
                    <td><h6>Sw0tR8nBo - сокращение фразы Somewhere Over the Rainbow</h6></td>
                </tr>
                <tr>
                    <td><h6>Чем длиннее и сложнее ваш пароль, тем труднее его угадать. Располагайте в своем пароле цифры и символы в случайном порядке.</h6></td>
                    <td><h6>922L@1V!Kw7tC0GF</h6></td>
                </tr>
                <tr>
                    <td><h6>Не используйте слишком простые и очевидные слова или сочетания букв и цифр.</h6></td>
                    <td><h6>Password1, qwerty123, monkey123</h6></td>
                </tr>
                <tr>
                    <td><h6>Не используйте личные данные, которые могут знать другие люди (имена, дни рождения, и т.п.)</h6></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }
        </div>
        </div>
    @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
</div>