﻿@model Autoroad.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация | Autoroad";
}

<link href="~/Content/login.css" rel="stylesheet" />
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Регистрация</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="login-form">
            <h1>Регистрация</h1>
            <fieldset>
                <legend></legend>
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "login-validation" })
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email *" })
                    </div>
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "login-validation" })
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль *" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "login-validation" })
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтвердите пароль *" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "login-validation" })
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", placeholder = "Контактное имя *" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ContactName, "", new { @class = "login-validation" })
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Город *" })
                    </div>
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "login-validation" })
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "80XXXXXXXXX *" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "login-validation" })
                    <div class="input-group">
                        <div class="input-group-addon"><span class="fa fa-skype login-skype"></span></div>
                        @Html.TextBoxFor(m => m.SkypeContact, new { @class = "form-control", placeholder = "Skype" })
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="fa fa-vk login-vk"></span></div>
                        @Html.TextBoxFor(m => m.VKContact, new { @class = "form-control", placeholder = "Ссылка на Вконтакте" })
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon login-facebook"><span class="fa fa-facebook"></span></div>
                        @Html.TextBoxFor(m => m.FacebookContact, new { @class = "form-control", placeholder = "Ссылка на Facebook" })
                    </div>
                    <input type="submit" value="Регистрация" class="btn btn-primary btn-sm ">
                }
            </fieldset>
        </div>
    </div>
</div>
