﻿<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/icomoon-social.css" rel="stylesheet" />
	<link href="~/Content/leaflet.css" rel="stylesheet" />
	<link href="~/Content/button-add-adv.css" rel="stylesheet" />
    <link href="~/Content/jquery.notify.css" rel="stylesheet" />
	<!--[if lte IE 8]>
	<link href="~/Content/leaflet.ie.css" rel="stylesheet" />
	<![endif]-->
	<link href="~/Content/main.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.notify.min.js"></script>
	<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
	<script src="~/Scripts/jquery.fitvids.js"></script>
	<script src="~/Scripts/jquery.sequence-min.js"></script>
	<script src="~/Scripts/jquery.bxslider.js"></script>
	<script src="~/Scripts/main-menu.js"></script>
</head>
<body>
	<!--[if lt IE 7]>
				<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
			<![endif]-->
	<!-- Navigation & Logo-->
	<div class="mainmenu-wrapper" id="autoroad-root">
		<div class="container">
			<div class="menuextras">
				<div class="extras">
					<ul>
						<li class="shopping-cart-items"><i class="fa fa-archive"></i> <a href="page-shopping-cart.html"><b>Избранные</b></a></li>
						@Html.Partial("_LoginPartial")
					</ul>
				</div>
			</div>
			<nav id="mainmenu" class="mainmenu">
				<ul>
					<li class="logo-wrapper"><a href="index.html"><img src="~/img/mPurpose-logo.png" /></a></li>
					<li>
						<a href="@Url.Action("Index", "Home")" title="Главная страница">Главная</a>
					</li>
					<li>
						<a href="@Url.Action("PersonalData", "PersonalCabinet")" title="Мой профиль">Мой профиль</a>
					</li>
					<li>
						<a href="@Url.Action("PersonalAdverts", "PersonalCabinet")" title="Мои объявления">Мои объявления</a>
					</li>
					<li>
						<div class="ph-container">
							<a href="@Url.Action("AddAdvert", "PersonalCabinet")" title="Добавить новое объявление" class='ph-button ph-btn-green'>Добавить объявление</a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	@RenderBody()
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-footer col-md-3 col-xs-6">
					<h3>Our Latest Work</h3>
				</div>
				<div class="col-footer col-md-3 col-xs-6">
					<h3>Navigate</h3>
					<ul class="no-list-style footer-navigate-section">
						<li><a href="page-blog-posts.html">Blog</a></li>
						<li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
						<li><a href="page-products-3-columns.html">eShop</a></li>
						<li><a href="page-services-3-columns.html">Services</a></li>
						<li><a href="page-pricing.html">Pricing</a></li>
						<li><a href="page-faq.html">FAQ</a></li>
					</ul>
				</div>

				<div class="col-footer col-md-4 col-xs-6">
					<h3>Contacts</h3>
					<p class="contact-us-details">
						<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br />
						<b>Phone:</b> +44 123 654321<br />
						<b>Fax:</b> +44 123 654321<br />
						<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
					</p>
				</div>
				<div class="col-footer col-md-2 col-xs-6">
					<h3>Stay Connected</h3>
					<ul class="footer-stay-connected no-list-style">
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="googleplus"></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="footer-copyright">&copy; 2017 Autoroad. Все права защищены.</div>
				</div>
			</div>
		</div>
	</div>
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")*@
</body>
</html>