﻿@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
	@Html.AntiForgeryToken()
		<li style="font-style: italic;">Привет, @User.Identity.Name!</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
			<li>
				<a href="@Url.Action("Login", "Account")" data-toggle="tooltip" title="Русский">
					<img src="~/Images/russia_flag.png" />
				</a>
			</li>

			<li>
				<a href="@Url.Action("Login", "Account")" data-toggle="tooltip" title="Українська">
					<img src="~/Images/ukraine_flag.png" />
				</a>
			</li>
	}
}
else
{
			<li class="licat">
				<a href="@Url.Action("Register", "Account")">
					Регистрация
				</a>
			</li>
			<li class="licat">
				<a href="@Url.Action("Login", "Account")">
					Войти
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("Login", "Account")" data-toggle="tooltip" title="Русский">
					<img src="~/Images/russia_flag.png" />
				</a>
			</li>

			<li>
				<a href="@Url.Action("Login", "Account")" data-toggle="tooltip" title="Українська">
					<img src="~/Images/ukraine_flag.png" />
				</a>
			</li>
}


