﻿@model Autoroad.Data.Models.Advert
@{
    ViewBag.Title = "Добавить объявление | Autoroad";
}
<link href="~/Content/breadcrumb-auto.css" rel="stylesheet" />
<link href="~/Content/ins-auto.css" rel="stylesheet" />

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Добавить новое объявление</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row add-advert-container">

        <div class="col-md-1">
            <div class="stepwizard-step">
                <a href="#" type="button" class="btn btn-warning btn-circle" disabled="disabled">
                    <span class="fa fa-warning"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-10 add-advert-warning-message">
            <p>Размещая объявление о продаже транспортного средства, Вы должны предоставить только достоверную информацию, которая соответствует действительности, а также даете согласие на обработку Ваших персональных данных.</p>
            <p>Если размещенное объявление не будет обновляться около 2 месяцев (60 дней), администрация сайта будет считать, что транспортное средство было продано, и удалит ваше объявление. </p>
        </div>
    </div>
    <div class="col-lg-7 col-md-offset">
        <label class="add-advert-label-field">Поля помечены <ins>*</ins> - обязательны для заполнения</label>
        <div class="row">
            @using (Html.BeginForm("AddAdvert", "PersonalCabinet", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>@Html.LabelFor(model => model.Brand.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.BrandId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.BrandId, new SelectList(ViewBag.Brand as System.Collections.IEnumerable, "BrandId", "Name"),
         "Выберите марку", new { id = "ddlCars", @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>@Html.LabelFor(model => model.Model.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.ModelId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.ModelId, new SelectList(Enumerable.Empty<SelectListItem>(), "ModelId", "ModelName"),
         "Выберите модель", new { id = "ddlModels", @class = "form-control input-sm" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 form-group">
                            <label>@Html.LabelFor(model => model.Engine.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.EngineId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.EngineId, ViewBag.Engine as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>@Html.LabelFor(model => model.BodyTypeId) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.BodyTypeId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.BodyTypeId, ViewBag.BodyTypes as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>@Html.LabelFor(model => model.ReleaseYearId) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.ReleaseYearId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.ReleaseYearId, ViewBag.ReleaseYear as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>@Html.LabelFor(model => model.Fuel.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.FuelId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.FuelId, ViewBag.Fuel as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>@Html.LabelFor(model => model.Transmission.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.TransmissionId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.TransmissionId, ViewBag.Transmission as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>@Html.LabelFor(model => model.DriveUnit.Name)</label>
                            @Html.DropDownListFor(model => model.DriveUnitId, ViewBag.DriveUnit as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-group">
                            <label>@Html.LabelFor(model => model.Price) <ins>*</ins></label><small class="add-advert-label-small"> в долларах США</small> @Html.ValidationMessageFor(model => model.Price, null, new { @class = "add-advert-validation-field" })
                            @Html.TextBoxFor(model => model.Price, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>@Html.LabelFor(model => model.Mileage) <ins>*</ins></label><small class="add-advert-label-small"> Например: 35780 (35 тыс. 780)</small> @Html.ValidationMessageFor(model => model.Mileage, null, new { @class = "add-advert-validation-field" })
                            @Html.TextBoxFor(model => model.Mileage, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>@Html.LabelFor(model => model.Region.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.RegionId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.RegionId, ViewBag.Region as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>@Html.LabelFor(model => model.Condition.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.ConditionId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.ConditionId, ViewBag.Condition as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>@Html.LabelFor(model => model.Registration.Name) <ins>*</ins></label> @Html.ValidationMessageFor(model => model.RegistrationId, null, new { @class = "add-advert-validation-field" })
                            @Html.DropDownListFor(model => model.RegistrationId, ViewBag.Registration as SelectList, "----", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextAreaFor(model => model.Description, new { @class = "add-advert-description-area form-control input-sm", rows = "5", cols = "40" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.isQuickly)
                        <label>Срочно! </label> <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.isNotCustomClearance)
                        <label>Не растаможен</label>
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.isPossibleAuction)
                        <label>Возможен торг </label> <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.IsPossibleExchange, new { id = "possible-exchange" })
                        <label>Возможен обмен </label> <i class="fa fa-refresh" aria-hidden="true"></i>
                    </div>
                    <div class="panel panel-info" id="show-exchange" style="display:none">
                        <div class="panel-heading add-advert-panel-heading">Возможен обмен на:</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Тип обмена</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.ExchangeTypeId, ViewBag.ExchangeTypes as SelectList, "----", new { @class = "form-control input-sm extype" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Марка</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.BrandId, new SelectList(ViewBag.Brand as System.Collections.IEnumerable, "BrandId", "Name"),
                    "Выберите марку", new { id = "ddlCarsExchange", @class = "form-control input-sm brnd" })
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Модель</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.ModelId, new SelectList(Enumerable.Empty<SelectListItem>(), "ModelId", "ModelName"),
                    "Выберите модель", new { id = "ddlModelsExchange", @class = "form-control input-sm mdl" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Год от</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.YearStartId, ViewBag.ReleaseYear as SelectList, "----", new { @class = "form-control input-sm yearstart" })
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Год до</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.YearEndId, ViewBag.ReleaseYear as SelectList, "----", new { @class = "form-control input-sm yearend" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Кузов</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.BodyTypeId, ViewBag.BodyTypes as SelectList, "----", new { @class = "form-control input-sm bodyone" })
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Кузов</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.BodyTypeTwoId, ViewBag.BodyTypes as SelectList, "----", new { @class = "form-control input-sm bodytwo" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Объем двигателя от</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.EngineId, ViewBag.Engine as SelectList, "----", new { @class = "form-control input-sm engineone" })
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Объем двигателя до</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.EngineTwoId, ViewBag.Engine as SelectList, "----", new { @class = "form-control input-sm enginetwo" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>КПП</label>
                                            @Html.DropDownListFor(model => model.PossibleExchangeCar.TransmissionId, ViewBag.Transmission as SelectList, "----", new { @class = "form-control input-sm kpp" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Цена от</label><small class"add-advert-label-small"> в долларах США</small>
                                            @Html.TextBoxFor(model => model.PossibleExchangeCar.PriceStart, new { @class = "form-control pricestart" })
                                            @Html.ValidationMessageFor(model => model.PossibleExchangeCar.PriceStart, null, new { @class = "add-advert-validation-field" })
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Цена до</label><small class"add-advert-label-small"> в долларах США</small>
                                            @Html.TextBoxFor(model => model.PossibleExchangeCar.PriceEnd, new { @class = "form-control priceend" })
                                            @Html.ValidationMessageFor(model => model.PossibleExchangeCar.PriceEnd, null, new { @class = "add-advert-validation-field" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Безопасность</label>
                            <p>@Html.CheckBoxFor(x => x.ABD_security) ABD</p>
                            <p>@Html.CheckBoxFor(x => x.ABS_security) ABS</p>
                            <p>@Html.CheckBoxFor(x => x.ESP_security) ESP</p>
                            <p>@Html.CheckBoxFor(x => x.Armor_security) Бронированый автомобиль</p>
                            <p>@Html.CheckBoxFor(x => x.Galogen_security) Галогенные фары</p>
                            <p>@Html.CheckBoxFor(x => x.KPP_security) Замок на КПП</p>
                            <p>@Html.CheckBoxFor(x => x.Imobilaizer_security) Иммобилайзер</p>
                            <p>@Html.CheckBoxFor(x => x.PnevmoTransmission_security) Пневмоподвеска</p>
                            <p>@Html.CheckBoxFor(x => x.Airbag_security) Airbag</p>
                            <p>@Html.CheckBoxFor(x => x.ServoRool_security) Серворуль</p>
                            <p>@Html.CheckBoxFor(x => x.Signaling_security) Сигнализация</p>
                            <p>@Html.CheckBoxFor(x => x.CentralLock_security) Центральный замок</p>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Комфорт</label>
                            <p>@Html.CheckBoxFor(x => x.Computer_comfort) Бортовой компъютер</p>
                            <p>@Html.CheckBoxFor(x => x.LightSensor_comfort) Датчик света</p>
                            <p>@Html.CheckBoxFor(x => x.ClimaControl_comfort) Климат-контроль</p>
                            <p>@Html.CheckBoxFor(x => x.Leather_comfort) Кожаный салон</p>
                            <p>@Html.CheckBoxFor(x => x.Conditioner_comfort) Кондиционер</p>
                            <p>@Html.CheckBoxFor(x => x.CruiseControl_comfort) Круиз-контроль</p>
                            <p>@Html.CheckBoxFor(x => x.Luke_comfort) Люк</p>
                            <p>@Html.CheckBoxFor(x => x.MultiRool_comfort) Мультируль</p>
                            <p>@Html.CheckBoxFor(x => x.HeadlightWasher_comfort) Омыватель фар</p>
                            <p>@Html.CheckBoxFor(x => x.Parctronick_comfort) Парктроник</p>
                            <p>@Html.CheckBoxFor(x => x.HeatedMirrors_comfort) Подогрев зеркал</p>
                            <p>@Html.CheckBoxFor(x => x.HeatedSeats_comfort) Подогрев сидений</p>
                            <p>@Html.CheckBoxFor(x => x.RainSensor_comfort) Сенсор дождя</p>
                            <p>@Html.CheckBoxFor(x => x.PowerSteering_comfort) Усилитель руля</p>
                            <p>@Html.CheckBoxFor(x => x.ElectroGlasses_comfort) Эл. стеклоподъемники</p>
                            <p>@Html.CheckBoxFor(x => x.ElectroPackage_comfort) Электропакет</p>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Мультимедиа</label>
                            <p>@Html.CheckBoxFor(x => x.CD_multimedia) CD</p>
                            <p>@Html.CheckBoxFor(x => x.DVD_multimedia) DVD</p>
                            <p>@Html.CheckBoxFor(x => x.MP3_multimedia) MP3</p>
                            <p>@Html.CheckBoxFor(x => x.Acoustic_multimedia) Аккустика</p>
                            <p>@Html.CheckBoxFor(x => x.Magnitola_multimedia) Магнитола</p>
                            <p>@Html.CheckBoxFor(x => x.SubWoofer_multimedia) Сабвуфер</p>
                            <p>@Html.CheckBoxFor(x => x.GPS_multimedia) GPS</p>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Разное</label>
                            <p>@Html.CheckBoxFor(x => x.GBO_other) ГБО</p>
                            <p>@Html.CheckBoxFor(x => x.Tree_other) Дерево</p>
                            <p>@Html.CheckBoxFor(x => x.LongBase_other) Длинная база</p>
                            <p>@Html.CheckBoxFor(x => x.RightRool_other) Правый руль</p>
                            <p>@Html.CheckBoxFor(x => x.Tinting_other) Тонировка</p>
                            <p>@Html.CheckBoxFor(x => x.Farckop_other) Фаркоп</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-md">Далее </button>
                            <p><small class="add-advert-label-small"> При нажатии кнопки 'Далее', Вы перейдете на страницу добавления фотографий</small></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 ">
        <div class="panel panel-info add-advert-box-shadow">
            <div class="panel-heading" style="background: rgba(41, 117, 181, 0.8);opacity: 0.8;color: #FAFAFA;background-color:#eb9316;font-weight: 300;font-family: SEGOE UI, monospace;font-size: 15px;margin-bottom: 0;text-transform: none;">Внимание!</div>
            <div class="panel-body add-advert-panel-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <p>Если Вы уже размещали объявление о продаже <strong>этого автомобиля</strong>, Вы можете просто обновить его.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-1 ">
        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="list-group add-advert-box-shadow">
                    <div class="list-group-item">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="~/img/site-preim.png" width="30" height="30" />
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Размещайте до <strong>5</strong> объявлений совершенно <strong>бесплатно</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object" src="~/img/site-preim.png" width="30" height="30" />
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Обновляйте <strong>бесплатно</strong> ваши объявления через <strong>каждые 5 дней</strong> в течении всего времени</h5>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/autoroad-add-advert-view.js"></script>