﻿@using System.Web.Optimization

@{
    ViewBag.Title = "Добавить фотографии";
}
<link href="~/Content/button-next-without-photo.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />

<script src="~/Scripts/dropzone/dropzone.min.js"></script>

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Добавить фотографии</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="/api/FileUpload/Upload?advertId=@ViewBag.AdvertId" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm"></form>
    <button id="submit-all">Сохранить все и опубликовать объявление</button>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
            <a href="@Url.Action("ConfirmPostAdvert", "PersonalCabinet", new { advertId = ViewBag.AdvertId })" title="Продолжить без добавления фотографий" class='pt-button pt-btn-green'>Продолжить без добавления фотографий</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    Dropzone.autoDiscover = false;
    // options
    Dropzone.prototype.defaultOptions.dictDefaultMessage = "Нажмите сдесь для добавления фотографий или ператащите файлы..";
    Dropzone.prototype.defaultOptions.dictFallbackMessage = "Ваш браузер не поддерживает загрузку файлов через перетаскивание.";
    Dropzone.prototype.defaultOptions.dictFallbackText = "Пожалуйста, используйте приведенную ниже форму для загрузки ваших файлов.";
    Dropzone.prototype.defaultOptions.dictFileTooBig = "Файл слишком большой ({{filesize}} МБайт). Максимальный размер файла: {{maxFilesize}} MБайт.";
    Dropzone.prototype.defaultOptions.dictInvalidFileType = "Вы не можете загружать файлы этого типа.";
    Dropzone.prototype.defaultOptions.dictResponseError = "Ошибка выполнения на сервер: {{statusCode}}.";
    Dropzone.prototype.defaultOptions.dictCancelUpload = "Отменить загрузку";
    Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "Вы действительно хотите отменить эту загрузку?";
    Dropzone.prototype.defaultOptions.dictRemoveFile = "Удалить";
    Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "Вы не можете загружать больше файлов. Максимальное количество файлов : {{maxFiles}}";

    $(document).ready(function () {
        var myDropzone = new Dropzone('form#dropzoneForm', {
            maxFiles: 10,
            maxFilesize: 6,
            parallelUploads: 10,
            acceptedFiles: 'image/jpeg,image/png,image/gif',
            dictInvalidFileType: 'Вы можете загрузить только фотографии в формате .JPG, .JPEG, .PNG, .GIF'
        });
    });

    Dropzone.options.dropzoneForm = {
        maxFiles: 10,
        autoProcessQueue: false,
        init: function () {
            myDropzoneNew = this;
            $.getJSON("/api/FileUpload/GetExistingFiles").done(function (data) {
                if (data.Data != '') {
                    $.each(data.Data, function (index, item) {

                        var mockFile = {
                            name: item.PhotoId,
                            size: 12,
                            status: Dropzone.UPLOADING,
                            accepted: true 
                        };

                        // Call the default addedfile event handler
                        myDropzoneNew.emit("addedfile", mockFile);
                        myDropzoneNew.emit("thumbnail", mockFile, item.Path);

                        myDropzoneNew.emit("complete", mockFile);
                        myDropzoneNew.files.push(mockFile);
                        // If you use the maxFiles option, make sure you adjust it to the
                        // correct amount:
                        //var existingFileCount = 1; // The number of files already uploaded
                        //myDropzoneNew.options.maxFiles = myDropzoneNew.options.maxFiles - existingFileCount;
                    });
                }

            });

            var submitButton = document.querySelector("#submit-all")

            submitButton.addEventListener("click", function () {
                myDropzoneNew.processQueue(); // Tell Dropzone to process all queued files.
            });

            this.on("addedfile", function (file) {
                var img = $(file.previewTemplate).find("img");
                img[0].onload = function () {
                    img.css({
                        width: 120 + "px",
                        height: 120 + "px",
                    });
                };
                // Create the remove button
                var removeButton = Dropzone.createElement("<button class='btn btn-primary btn-xs' style='margin-left:30px;margin-top:3px;'>Удалить</button>");
                
                // Listen to the click event
                removeButton.addEventListener("click", function (e) {

                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();
                    // Remove the file preview.
                    myDropzoneNew.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.
                });
                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
                
            });
        }
    };

</script>

