﻿
@{
    ViewBag.Title = "Публикация";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Публикация объявления</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
            <a href="@Url.Action("ConfirmationPostAdvert", "PersonalCabinet", new { advertId = ViewBag.AdvertId })" title="Продолжить без добавления фотографий" class='pt-button pt-btn-green'>Продолжить без добавления фотографий</a>
        </div>
    </div>
</div>
