﻿@model Autoroad.Data.Models.User
@{
    ViewBag.Title = "Мой профиль | Autoroad";
}
<link href="~/Content/ins-auto.css" rel="stylesheet" />
<link href="~/Content/breadcrumb-auto.css" rel="stylesheet" />

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Мой профиль</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="form-horizontal" role="form">
                <label class="add-advert-label-field">Поля помечены <ins>*</ins> - обязательны для заполнения</label>

                @Html.HiddenFor(m => m.Login, new { @id = "login" })
                @Html.HiddenFor(m => m.UserId, new { @id = "userid" })
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Email:</label>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label add-advert-label-field">@Model.Login</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Имя <ins>*</ins></label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.ContactName, new { @id = "conname", @class = "form-control" })
                            <small class="add-advert-label-small">Имя не должно содержать цифр и других символов, кроме литер.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Вконтакте</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.VKContact, new { @id = "vk", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Facebook</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.FacebookContact, new { @id = "fb", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Skype</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.SkypeContact, new { @id = "skype", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Телефон<ins>*</ins></label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Phone, new { @id = "phone", @class = "form-control" })
                            <small class="add-advert-label-small">Введите номер в таком формате: 80971234567.</small>
                        </div>

                        <label class="col-sm-2 control-label" for="textinput">Город<ins>*</ins></label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.City, new { @id = "city", @class = "form-control" })
                            <small class="add-advert-label-small">Город не должен содержать цифр и других символов, кроме литер.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Зарегистрирован:</label>
                        <div class="col-sm-10">
                            <label class="col-sm-7 control-label add-advert-label-field">@Model.DateRegister</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CheckBoxFor(x => x.IsShowEmail, new { @id = "showEmail" })<small class="personal-data-checkbox"> Показывать пользователям мой E-mail.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CheckBoxFor(x => x.IsShowCity, new { @id = "showCity" })<small class="personal-data-checkbox"> Показывать пользователям мой город.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CheckBoxFor(x => x.IsShowSkype, new { @id = "showSkype" }) <small class="personal-data-checkbox"> Показывать пользователям мой Skype.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CheckBoxFor(x => x.IsShowVK, new { @id = "showVk" }) <small class="personal-data-checkbox"> Показывать пользователям мой аккаунт Вконтакте.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CheckBoxFor(x => x.IsShowFacebook, new { @id = "showFB" }) <small class="personal-data-checkbox"> Показывать пользователям мой аккаунт Facebook.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CheckBoxFor(x => x.IsNotifyAuction, new { @id = "notifyAuction" })  <small class="personal-data-checkbox"> Оповещать меня об предложении торга.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12">
                    @Html.CheckBoxFor(x => x.IsNotifyExchange, new { @id = "notifyExchange" }) <small class="personal-data-checkbox"> Оповещать меня об предложении обмена.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-sm-4">
                <div>
                    <a href="@Url.Action("Manage", "Account")" class="personal-data-link">Изменить пароль </a><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-sm-4">
                <div>
                    <a href="@Url.Action("PersonalAdverts", "PersonalCabinet")" class="personal-data-link">Мои объявления </a><i class="fa fa-file" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-7 col-sm-9 col-xs-9">
                <div class="pull-right">
                    @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-warning btn-sm" })
                    <input type="button" id="editUser" class="btn btn-success btn-sm" value="Сохранить" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/autoroad-personal-data.js"></script>