﻿@using System.Globalization
@model List<Autoroad.Data.ViewModels.UserAdvertViewModel>
@{
    ViewBag.Title = "Мои объявления";
}

<link href="~/Content/my-adverts.css" rel="stylesheet" />
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Мои объявления</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="shopping-cart">
                @foreach (var adverts in Model)
                {
                    <tr>
                        <td class="image"><a href="page-product-details.html"><img src="~/Images/nophoto_small.jpg" alt="Item Name"></a></td>
                        <td>
                            @{
                                string isPublish = "Еще не опубликовано!";
                                string statusToPublish = string.Empty;
                                string controller = "PersonalCabinet";

                                if (adverts.isPublish)
                                {
                                    isPublish = "Опубликовано";
                                }

                            }
                            <div class="cart-item-title"><a href="page-product-details.html">@adverts.Brand.Name @adverts.Model.Name</a></div>
                            <div class="feature">Статус объявления: <b class="advert-publish">@isPublish</b></div>
                            <div class="feature"><b>@Html.ActionLink("Изменить фото", "AddPhotosToAdvert", controller, new { advertId = adverts.AdvertId }, new { @class = "status-publish" }) <i class="glyphicon glyphicon-camera"></i></b></div>
                            @if (!adverts.isPublish)
                            {
                                <div class="feature"><b>@Html.ActionLink("Опубликовать сейчас", "ConfirmPostAdvert", controller, new { advertId = adverts.AdvertId }, new { @class = "status-publish" }) <i class="glyphicon glyphicon-plus"></i></b></div>
                            }
                            else
                            {
                                if (!adverts.isCanUpdate)
                                {
                                    <div class="feature">Обновление доступно: <b>@adverts.NearestDateUpdate</b></div>

                                }
                                <p>
                                    @if (adverts.DateAdded.ToShortDateString() == adverts.DateUpdated.ToShortDateString())
                                    {
                                        <div class="feature">Добавлено: <b>@adverts.DateAdded.ToShortDateString()</b></div>
                                    }
                                    else
                                    {
                                        <div class="feature">Добавлено: <b>@adverts.DateAdded.ToShortDateString()</b></div>
                                        <div class="feature">Последнее обновление: <b>@adverts.DateUpdated.ToShortDateString()</b></div>
                                    }
                                </p>
                            }
                        </td>
                        <td>
                            <div class="feature">Год: <b>@adverts.ReleaseYear.Year</b></div>
                            <div class="feature">Цена: <b class="advert-price">@string.Format(new CultureInfo("en-us"), "{0:C0}", adverts.Price)</b></div>
                            <p></p>
                            <div class="feature">Просмотров: <b>@adverts.Views</b></div>
                        </td>
                        <td class="actions">
                            <a href="@Url.Action("More", "Home", new {id = adverts.AdvertId })" class="btn btn-xs btn-grey more-info advert-link">Подробнее <i class="glyphicon glyphicon-share"></i></a>
                            <a href="@Url.Action("EditAdvert", "Home", new {id = adverts.AdvertId })" class="btn btn-xs btn-grey edit-adv advert-link">Изменить <i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="@Url.Action("RemoveAdvert", "PersonalCabinet", new {advertId = adverts.AdvertId })" class="btn btn-xs btn-grey remove-adv advert-link">Удалить <i class="glyphicon glyphicon-trash"></i></a>
                            @if (adverts.isCanUpdate && adverts.isPublish)
                            {
                                <a href="@Url.Action("UpdateAdvert", "PersonalCabinet", new {advertId = adverts.AdvertId })" class="btn btn-xs btn-grey update-adv advert-link">Обновить <i class="glyphicon glyphicon-refresh"></i></a>
                            }
                        </td>
                    </tr>
                                }
            </table>
        </div>
        <div class="col-md-4">
            <div class="list-group add-advert-box-shadow">
                <div class="list-group-item">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object" src="~/img/site-preim.png" width="30" height="30" />
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Размещайте до <strong>5</strong> объявлений совершенно <strong>бесплатно</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object" src="~/img/site-preim.png" width="30" height="30" />
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">Обновляйте <strong>бесплатно</strong> ваши объявления через <strong>каждые 5 дней</strong> в течении всего времени</h5>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
