﻿@model Autoroad.Data.ViewModels.SearchAdvertViewModel

<div class="jumbotron">
    @using (Html.BeginForm("Test", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Brand.Name)</td>
                <td>
                    @Html.DropDownListFor(model => model.BrandId, new SelectList(ViewBag.Brand as System.Collections.IEnumerable, "BrandId", "Name"),
                "Выберите марку", new { id = "ddlCars" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Model.Name)</td>
                <td>
                    @Html.DropDownListFor(model => model.ModelId, new SelectList(Enumerable.Empty<SelectListItem>(), "ModelId", "ModelName"),
                "Выберите модель", new { id = "ddlModels" })
                </td>
            </tr>
            <tr>
                <td>От</td>
                <td>@Html.DropDownListFor(model => model.ReleaseYearId_From, ViewBag.ReleaseYear as SelectList, "----", new { @class = "dropdown" })</td>
            </tr>
            <tr>
                <td>До</td>
                <td>@Html.DropDownListFor(model => model.ReleaseYearId_To, ViewBag.ReleaseYear as SelectList, "----", new { @class = "dropdown" })</td>
            </tr>
        </table>
        <input type="submit" value="Поиск" />
    }
</div>

<script src="~/Scripts/autoroad-home-page.js"></script>





























@*@model Autoroad.RssFeeds.ViewModel.AutoNewsViewModel
    @{
        ViewBag.Title = "Главная | Autoroad";
    }
    <link href="~/Content/finance-rate.css" rel="stylesheet" />





    @*<div class="jumbotron">
        <div class="row">
            <div id="IUAfinance13" class="col-md-offset-9">
                <div class="content">
                    <h1><span><a href="http://finance.i.ua/bank/1/" id="IUAfinance13TitleLink">Курсы валют</a></span><i></i></h1>
                    <dl id="IUAfinance13Embed"></dl>
                </div>
            </div>
        </div>
        <hr />
        <p><h5>ПОСЛЕДНИЕ НОВОСТИ</h5></p>
        <div class="row">
            @foreach (var item in Model.ListAutoNews)
            {
                <div class="col-md-7">
                    <div class="well well-sm">
                        <div class="media">
                            <a class="pull-left">
                                @Html.Raw(item.Image)
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"> @item.Title</h4>
                                <p><h5> @Html.Raw(item.Description)</h5></p>
                                <p><h6> @Convert.ToDateTime(item.PublicDate)</h6></p>
                                <p>
                                    <a href="@item.Link" class="btn btn-xs btn-default" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Читать полностью..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/Scripts/finance-rate.js"></script> *@